
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}


.header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #0056b3; /* Vesuvio için mavi bir şerit */
    flex-shrink: 0;
}

.header h2 {
    margin: 0;
}

.user-info {
    font-size: 14px;
}

.user-info a {
    color: #ffcccc;
    text-decoration: none;
    margin-left: 10px;
}


.content {
    background-color: #fff;
    padding: 40px;
    margin: 0 auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}


form {
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], 
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover, button:hover {
    background-color: #004494;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.nav {
    background-color: #444;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.nav a:hover {
    background-color: #555;
    border-radius: 4px;
}